.title-bar-bg {
    background-color: #8c1a00;
}

.btn-bg {
    background-color: #b32100 !important;
    color: white !important;
    transition: 0.3s !important;
}

.btn-bg:hover {
    background-color: #ff2f00 !important;
}